__pycache__
pred_sqls.txt
predict_dev.json
output/
test_suite_sql_eval
seeklhy/
sic_ckpts/
data/
log-tensorboard/
*.json
temp/
*.log
*.csv
db_content_retrieval/volumes
offload/
*.xlsx
test_suite_sql_eval
alignment-handbook/thanhdath/
progress.jsonl
logs/
temp.sh
*.pkl
*.jsonl
